#Leadership {
    width: 100%;
  }
  
  .leadership-left-content {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 52px;
    color: #000000;
  }
  .leadership-right-content {
    font-size: 20px;
    line-height: 34px;
    color: #231f1f;
    opacity: 0.8;
    justify-content: center;
  }
  .leadership-action {
    border-radius: 80px;
    border: 1px solid #f37337;
    opacity: 1;
    padding: 17px 48px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: auto;
  }
  .Boss {
    background: #f6f6f6 0% 0% no-repeat padding-box;
    border: 1px solid #70707033;
    border-radius: 23px 23px 23px 74px;
    opacity: 1;
    width: 185px;
    height: 218px;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 200px;
  }
  
  .description-leadership {
    display: flex;
  }